<h1 style="text-align: center">Mountain Ranges</h1>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Length</th>
    <th>In Western Hemisphere?</th>
  </tr>
  <% @ranges.each do |range| %>
  <tr>
    <td><%= range.name%></td>
    <td><%= range.length_km%></td>
    <td><%= range.western_hemisphere%></td>
  </tr>
  <% end %>
</table>
